<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="row">
        <span><b>Last Update:</b> {{modified}}</span>
        <span style="float: right;"><a href="/index.html">Back to index 🏠</a></span>
    </div>
    <hr>
    {{{content}}}

    <br />
</body>
<footer>
    <div class="row">
        <span>Made with <a href="https://github.com/LudeeD/blust">Blust</a></span>
        <span style="float: right;"><a href="#top">To the top ⬆️</a></span>
    </div>
</footer>

<style>
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>

</html>